<%if session.fetch(:user_id) == nil %>
You have to sign in first.
<h1>Sign in</h1>
<form action="/user_verify_credentials" method="post">
  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Enter your email..." type="text">
  </div>

  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Enter your password..." type="password">
  </div>

  <button>
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>

<%else%>

<div>
  <div>
    <h1>
      Photo Details
    </h1>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>" class="img-responsive">
      </dd>
    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>
       <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.poster.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
      <%@the_photo.fans.each do |fan|%>
        <%= fan.username %>

        <%end%>
      </dd>

       

     
      <dd>
        <dt>Add a fan</dt>
  <dd>

    <form action="/insert_like" method="post">
      <input type="hidden" value="<%=@the_photo.id%>" name="query_photo_id">
      <button>Like</button>
    </form>
  </dd>
</dd>
     

    

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

      

    
  </div>
</div>

<hr>

<%if @the_photo.owner_id == session.fetch(:user_id)%>
<div>
  <div>
    <h2>
      Edit photo
    </h2>

   <dd>
    <form action="/modify_photo/<%= @the_photo.id %>" method="post" enctype="multipart/form-data">
      <label for="browser_image">Image URL</label>
      <input id="image" type="file" name="image" class="form-control">
    
      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption %></textarea>
    
      <button>Update photo</button>
    </form>
  </dd>


    <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    </div>
  </div>
</div>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.commenter.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= comment.created_at %>
    </td>
  </tr>
  
  <% end %>
</table>


<%else%>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.commenter.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= time_ago_in_words(comment.created_at) %> ago
    </td>
  </tr>

    
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="777" name="query_photo_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>

<%end%>
<hr>
<%end%>
